extends Layout
include ../mixins/navbars/NavbarZoufarm
include ../mixins/Variables

prepend scripts
  script(src=`https://polyfill.io/v3/polyfill.min.js?features=window.scroll`)

 
append footerStyles
  link(href='https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&display=swap'  rel='stylesheet')

block mainContent 
  +NavbarZoufarm
  block wrapperContent 
    block beforeContent
    block content
    block afterContent

