mixin Cta 
  +Section.z-index-1.cta
    .row.flex-center
      .col-12
        .card.shadow.h-100.py-5
          .card-body.text-center 
            h1.fw-semi-bold.mb-4 The future of  &nbsp;
              span.text-success Farm Investing
              |  &nbsp; is Zou
            a.btn.btn-lg.btn-success.px-6(href='#' role='button') Invest Now